# INTRODUCTION TO PANDAS

Pandas is basically used to read all kinds of including CSV files, excel files, JASON files. This is because it has more flexibilitu and allows you to work with larger datasets.

In [1]:
import pandas as pd

In [2]:
# import pandas as pd

df = pd.read_csv(r'C:\Users\HP\Desktop\codellc\Artificial Intelligence\ML-Week3\datasets\pokemon_data.csv')

In [ ]:
pd.read_excel('filepath.xlsx')

In [3]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [4]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [6]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df.tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [8]:
# LOADING IN EXCEL FILES

In [9]:
df_xlsx = pd.read_excel('./Desktop/Artificial Intelligence/ML-Week3/pokemon_data.xlsx')

In [10]:
df_xlsx

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
df_xlsx.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [12]:
# LOADING TXT FILES
# It must involve the use of a delimiter which is usually '\t'

In [ ]:
pd.read

In [13]:
df3 = pd.read_csv('./Desktop/Artificial Intelligence/ML-Week3/pokemon_data.txt')

In [6]:
df3

NameError: name 'df3' is not defined

In [5]:
df3 = pd.read_csv('./Desktop/Artificial Intelligence/ML-Week3/pokemon_data.txt', delimiter='\t')

FileNotFoundError: [Errno 2] No such file or directory: './Desktop/Artificial Intelligence/ML-Week3/pokemon_data.txt'

In [ ]:
df3

In [17]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

# READING DATAS IN PANDAS

In [18]:
# Reading header i.e Column

In [7]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [8]:
# Reading a specific column

In [9]:
df['Type 1']

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [22]:
print (df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [23]:
print (df['Name'][3:200])

3          VenusaurMega Venusaur
4                     Charmander
5                     Charmeleon
6                      Charizard
7      CharizardMega Charizard X
                 ...
195                     Ampharos
196        AmpharosMega Ampharos
197                    Bellossom
198                       Marill
199                    Azumarill
Name: Name, Length: 197, dtype: object

In [10]:
print (df['Name'][50])

Vileplume

In [24]:
# Reading multiple specific headers
 # You have to use double columns to indicate several lists whenever you want to print multiple headers.

In [25]:
print (df[['Name', 'Type 2', 'Defense']])

                      Name  Type 2  Defense
0                Bulbasaur  Poison       49
1                  Ivysaur  Poison       63
2                 Venusaur  Poison       83
3    VenusaurMega Venusaur  Poison      123
4               Charmander     NaN       43
..                     ...     ...      ...
795                Diancie   Fairy      150
796    DiancieMega Diancie   Fairy      110
797    HoopaHoopa Confined   Ghost       60
798     HoopaHoopa Unbound    Dark       60
799              Volcanion   Water      120

[800 rows x 3 columns]

In [26]:
# Reading an index i.e Rows
# iloc means integer location

In [11]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [13]:
print (df.iloc[50])

#                    45
Name          Vileplume
Type 1            Grass
Type 2           Poison
HP                   75
Attack               80
Defense              85
Sp. Atk             110
Sp. Def              90
Speed                50
Generation            1
Legendary         False
Name: 50, dtype: object

In [14]:
print (df.iloc[3:8])

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130

   Sp. Def  Speed  Generation  Legendary
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False

In [30]:
# Reading a specific location in the dataframe
# This make use of index numbers for both rows and columns
# this is the format: print(df.iloc[rows,columns])

In [31]:
print(df.iloc[6,2])

Fire

In [16]:
df.iloc[505,5]

100

In [32]:
for index, row in df.iterrows():
    print(index,row ["Defense"])

0 49
1 63
2 83
3 123
4 43
5 58
6 78
7 111
8 78
9 65
10 80
11 100
12 120
13 35
14 55
15 50
16 30
17 50
18 40
19 40
20 40
21 55
22 75
23 80
24 35
25 60
26 30
27 65
28 44
29 69
30 40
31 55
32 85
33 110
34 52
35 67
36 87
37 40
38 57
39 77
40 48
41 73
42 40
43 75
44 20
45 45
46 35
47 70
48 55
49 70
50 85
51 55
52 80
53 50
54 60
55 25
56 50
57 35
58 60
59 48
60 78
61 35
62 60
63 45
64 80
65 40
66 65
67 95
68 15
69 30
70 45
71 65
72 50
73 70
74 80
75 35
76 50
77 65
78 35
79 65
80 100
81 115
82 130
83 55
84 70
85 65
86 110
87 180
88 70
89 95
90 55
91 45
92 70
93 55
94 80
95 50
96 75
97 100
98 180
99 30
100 45
101 60
102 80
103 160
104 45
105 70
106 90
107 115
108 50
109 70
110 80
111 85
112 95
113 110
114 53
115 79
116 75
117 95
118 120
119 95
120 120
121 5
122 115
123 80
124 100
125 70
126 95
127 60
128 65
129 55
130 85
131 65
132 80
133 35
134 57
135 57
136 100
137 120
138 95
139 55
140 79
141 109
142 80
143 48
144 50
145 60
146 60
147 60
148 70
149 100
150 125
151 90
152 105
153 65
154 85
155 65
156 100
157 85
158 90
159 45
160 65
161 95
162 90
163 100
164 70
165 100
166 65
167 80
168 100
169 43
170 58
171 78
172 64
173 80
174 100
175 34
176 64
177 30
178 50
179 30
180 50
181 40
182 70
183 80
184 38
185 58
186 15
187 28
188 15
189 65
190 85
191 45
192 70
193 40
194 55
195 85
196 105
197 95
198 50
199 80
200 115
201 75
202 40
203 50
204 70
205 55
206 30
207 55
208 45
209 45
210 85
211 60
212 110
213 42
214 80
215 60
216 48
217 58
218 65
219 90
220 140
221 70
222 105
223 200
224 230
225 50
226 75
227 75
228 100
229 140
230 230
231 75
232 115
233 55
234 50
235 75
236 40
237 120
238 40
239 80
240 85
241 35
242 75
243 45
244 70
245 140
246 30
247 50
248 90
249 95
250 60
251 120
252 90
253 62
254 35
255 35
256 95
257 15
258 37
259 37
260 105
261 10
262 75
263 85
264 115
265 50
266 70
267 110
268 150
269 130
270 90
271 100
272 35
273 45
274 65
275 75
276 40
277 60
278 70
279 80
280 50
281 70
282 90
283 110
284 35
285 70
286 41
287 61
288 35
289 55
290 50
291 55
292 70
293 30
294 50
295 70
296 50
297 40
298 60
299 30
300 60
301 30
302 100
303 25
304 35
305 65
306 65
307 32
308 62
309 60
310 80
311 60
312 80
313 100
314 90
315 45
316 45
317 23
318 43
319 63
320 30
321 60
322 40
323 135
324 45
325 65
326 75
327 125
328 85
329 125
330 100
331 140
332 180
333 230
334 55
335 75
336 85
337 40
338 60
339 80
340 40
341 50
342 55
343 55
344 45
345 53
346 83
347 20
348 40
349 70
350 35
351 45
352 40
353 70
354 100
355 140
356 35
357 65
358 60
359 45
360 50
361 80
362 40
363 60
364 60
365 90
366 110
367 60
368 60
369 65
370 85
371 43
372 73
373 65
374 85
375 55
376 105
377 77
378 97
379 50
380 100
381 20
382 79
383 70
384 70
385 35
386 65
387 75
388 90
389 130
390 83
391 70
392 60
393 60
394 48
395 50
396 80
397 80
398 50
399 70
400 90
401 85
402 105
403 105
404 130
405 55
406 60
407 100
408 80
409 130
410 80
411 100
412 130
413 150
414 200
415 100
416 150
417 90
418 120
419 80
420 100
421 90
422 90
423 140
424 160
425 90
426 100
427 100
428 50
429 20
430 160
431 90
432 64
433 85
434 105
435 44
436 52
437 71
438 53
439 68
440 88
441 30
442 50
443 70
444 40
445 60
446 41
447 51
448 34
449 49
450 79
451 35
452 65
453 40
454 60
455 118
456 168
457 45
458 85
459 105
460 95
461 50
462 42
463 102
464 70
465 35
466 55
467 45
468 70
469 48
470 68
471 66
472 34
473 44
474 44
475 84
476 94
477 60
478 52
479 42
480 64
481 50
482 47
483 67
484 86
485 116
486 95
487 45
488 5
489 45
490 108
491 45
492 65
493 95
494 115
495 40
496 40
497 70
498 88
499 78
500 118
501 90
502 110
503 40
504 65
505 72
506 56
507 76
508 50
509 50
510 75
511 105
512 65
513 115
514 95
515 130
516 125
517 67
518 67
519 95
520 86
521 130
522 110
523 125
524 80
525 70
526 65
527 95
528 145
529 135
530 70
531 77
532 107
533 107
534 107
535 107
536 107
537 130
538 105
539 70
540 120
541 100
542 106
543 110
544 120
545 100
546 120
547 80
548 100
549 90
550 100
551 75
552 120
553 100
554 55
555 75
556 95
557 45
558 55
559 65
560 45
561 60
562 85
563 39
564 69
565 45
566 65
567 90
568 37
569 50
570 48
571 63
572 48
573 63
574 48
575 63
576 45
577 85
578 50
579 62
580 80
581 32
582 63
583 85
584 105
585 130
586 43
587 55
588 40
589 60
590 86
591 126
592 55
593 85
594 95
595 40
596 55
597 75
598 85
599 75
600 70
601 90
602 80
603 59
604 99
605 89
606 60
607 85
608 50
609 75
610 65
611 35
612 45
613 80
614 45
615 55
616 105
617 67
618 85
619 125
620 70
621 115
622 80
623 85
624 145
625 103
626 133
627 45
628 65
629 62
630 82
631 40
632 60
633 40
634 60
635 50
636 70
637 95
638 40
639 50
640 75
641 50
642 63
643 50
644 65
645 85
646 50
647 70
648 60
649 45
650 105
651 45
652 70
653 50
654 70
655 80
656 50
657 60
658 91
659 131
660 70
661 95
662 115
663 40
664 70
665 80
666 55
667 75
668 55
669 60
670 90
671 60
672 70
673 90
674 40
675 80
676 30
677 85
678 40
679 84
680 50
681 60
682 90
683 50
684 80
685 70
686 100
687 95
688 50
689 75
690 75
691 105
692 66
693 112
694 50
695 70
696 90
697 55
698 65
699 129
700 90
701 72
702 70
703 80
704 70
705 70
706 100
707 120
708 90
709 90
710 90
711 100
712 90
713 90
714 90
715 77
716 90
717 95
718 65
719 95
720 122
721 40
722 58
723 72
724 40
725 52
726 67
727 38
728 77
729 43
730 55
731 71
732 40
733 60
734 50
735 58
736 72
737 39
738 47
739 68
740 48
741 62
742 62
743 78
744 60
745 54
746 76
747 76
748 100
749 150
750 50
751 150
752 60
753 72
754 66
755 86
756 53
757 88
758 67
759 115
760 60
761 90
762 62
763 88
764 33
765 52
766 77
767 119
768 50
769 72
770 65
771 75
772 57
773 150
774 35
775 53
776 70
777 91
778 48
779 76
780 70
781 70
782 70
783 70
784 122
785 122
786 122
787 122
788 85
789 184
790 35
791 80
792 95
793 95
794 121
795 150
796 110
797 60
798 60
799 120

In [18]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [19]:
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [20]:
df.loc[df['Type 2'] == 'Flying']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True

In [34]:
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

#  SORTING/DESCRIBING DATA

In [35]:
#  Describe functions explains more statistical functions of the int and float in the dataframe. describe function does not work on an object i.e a string

In [117]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [37]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [38]:
# SORTING FUNCTION
# Helps to sort value in a chronological order, either ascending or descending

In [39]:
df.sort_values('Name', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [40]:
df.sort_values('Defense' )

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,75,85,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False

In [41]:
df.sort_values(['Type 1', 'HP'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

In [42]:
df.sort_values(['Type 1', 'HP'], ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [43]:
df.sort_values(['Type 1', 'HP', 'Defense'], ascending = [0,1,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

# MAKING CHANGES TO THE DATA

In [21]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [44]:
# Adding a new column to the dataframe. A very interesting thing about this is that there are several ways to do this and we will get the same answers.

In [28]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [29]:
df['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [30]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

In [31]:
df.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405

In [48]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [49]:
# Jupyter automatically adds the new column to the existing one and then it becomes the df. To remove the new column subsequently, we make use of the DROP FUNCTION

In [32]:
new_df = df.drop(columns = ['Total'])

In [34]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [26]:
# df.drop(columns = ['Total'], inplace= True, axis=1)

In [27]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [52]:
# This is the second way of adding a new column

df['Total'] = df.iloc[:,4:10]. sum( axis = 1)

In [53]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [54]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [55]:
df = df.drop(columns = ['Total'])

In [56]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [57]:
# Changing the location of a column

In [58]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:] ]

In [59]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

## SAVING OUR DATA( EXPORTING INTO SDESIRED FORMAT)

In [60]:
# SAVING INTO CSV

In [61]:
df.to_csv('modified.csv')

In [62]:
df.to_excel('modified.xlsx')

In [63]:
df.to_csv('modified.csv', index = False)

In [64]:
df.to_csv('modified.txt', index = True, sep = '\t')

# FILTERING DATA

In [66]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [ ]:
# There is something very important to note here. The 'and' function used in normal python is replaced b the '&' function while the 'or' function in normal python is replaced by the '|' function.

In [71]:
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,False,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,False,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,False,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False

In [74]:
# Use of the 'and' function

df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,False,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,False,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,False,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,False,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,False,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,False,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,False,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,False,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [75]:
# Use of the 'or' function

df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,False,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,False,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,False,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False

In [76]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [77]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [78]:
new_df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [79]:
new_df.to_csv('new_filtered.csv')

In [80]:
df.head(5)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False

In [81]:
new_df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [82]:
new_df.reset_index()

,index,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [92]:
new_df.reset_index(drop = True)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [91]:
new_df.drop(['Name'], axis = 1)

,#,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,Grass,Poison,False,80,100,123,122,120,80,1,False
50,45,Grass,Poison,False,75,80,85,110,90,50,1,False
77,71,Grass,Poison,False,80,105,65,100,70,70,1,False
652,591,Grass,Poison,False,114,85,70,85,80,30,5,False

In [93]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [95]:
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,False,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,False,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,False,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,False,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,False,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,False,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,False,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,False,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,False,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,False,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,True,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,False,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,False,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,False,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,False,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,False,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,False,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,False,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,False,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,False,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,False,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,False,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,False,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,False,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,False,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,False,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,False,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,False,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,False,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,False,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,False,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,False,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,False,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,False,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,False,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,True,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,True,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,True,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,False,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,False,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,False,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,False,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,False,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True

In [99]:
df.loc[df['Speed'] > 85]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,False,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,159,115,100,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,False,65,150,40,15,80,145,1,False
22,18,Pidgeot,Normal,Flying,False,83,80,75,70,70,101,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,715,Noivern,Flying,Dragon,False,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,True,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,True,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,True,108,100,121,81,95,95,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True

In [ ]:
# '!=' function is replaced by a '~' function in pandas

In [100]:
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [101]:
import re

In [102]:
df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,False,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [103]:
df.loc[df['Type 1'].str.contains('Fire|Grass')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,False,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [108]:
df.loc[df['Name'].str.startswith('Pi')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,False,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,False,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,False,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,False,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,False,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,False,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,False,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,False,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,False,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,False,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,False,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,False,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,False,50,55,50,36,30,43,5,False

# CONDITIONAL CHANGES

In [122]:
 df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [128]:
df.loc[df['Type 1'] == 'Fire', 'Type 1' ] = 'Flamer'

In [129]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,True,80,110,120,130,90,70,6,True

In [131]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1' ] = 'Fire'

In [132]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [136]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [146]:
df.loc[df['HP'] < 85, 'Type 2'] == 'TEST VALUE'

df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,TEST VALUE,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,TEST VALUE,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,TEST VALUE,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,TEST VALUE,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,TEST VALUE,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST VALUE,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,TEST VALUE,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,TEST VALUE,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,TEST VALUE,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,TEST VALUE,True,80,110,120,130,90,70,6,True

In [147]:
df.loc[df['Type 1'] == 'Fire', 'Legendary' ] == False

     Legendary  Legendary
4         True       True
5         True       True
6         True       True
7         True       True
8         True       True
42        True       True
43        True       True
63        True       True
64        True       True
83        True       True
84        True       True
135       True       True
147       True       True
158      False      False
169       True       True
170       True       True
171       True       True
236       True       True
237       True       True
259       True       True
263      False      False
270      False      False
276       True       True
277       True       True
278       True       True
279       True       True
352       True       True
353       True       True
354       True       True
355       True       True
435       True       True
436       True       True
437       True       True
518       True       True
542      False      False
557       True       True
558       True       True
559       True       True
572       True       True
573       True       True
614       True       True
615       True       True
616       True       True
692       True       True
721       True       True
722       True       True
723       True       True
730       True       True
731       True       True
735       True       True
736       True       True
799      False      False

In [148]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,TEST VALUE,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,TEST VALUE,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,TEST VALUE,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,TEST VALUE,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,TEST VALUE,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST VALUE,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,TEST VALUE,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,TEST VALUE,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,TEST VALUE,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,TEST VALUE,True,80,110,120,130,90,70,6,True

In [149]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,TEST VALUE,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,TEST VALUE,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,TEST VALUE,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,TEST VALUE,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,TEST VALUE,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST VALUE,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,TEST VALUE,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,TEST VALUE,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,TEST VALUE,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,TEST VALUE,True,80,110,120,130,90,70,6,True

In [154]:
df.loc[df['Type 1'] == 'Grass', ['HP','Attack']] == ['Test 1','Test 2']

        HP  Attack
0    False   False
1    False   False
2    False   False
3    False   False
48   False   False
..     ...     ...
718  False   False
719  False   False
720  False   False
740  False   False
741  False   False

[70 rows x 2 columns]

In [155]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,TEST VALUE,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,TEST VALUE,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,TEST VALUE,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,TEST VALUE,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,TEST VALUE,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST VALUE,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,TEST VALUE,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,TEST VALUE,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,TEST VALUE,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,TEST VALUE,True,80,110,120,130,90,70,6,True

# AGGREGATE STATISTICS(GROUPBY)
There are 3 things you can use groupby for:
1. Sum
2. Mean
3. Count

In [156]:
df = pd.read_csv('modified.csv')

In [157]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [159]:
df.drop('Legendary.1', axis = 1)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6

In [163]:
cols = list(df.columns)

In [166]:
df = cols[0:4] + [cols[5:11]] + [cols[4]]

In [172]:
df = pd.read_csv('modified.csv')

In [173]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [ ]:
# Grouping the parameters in a dateframe based on some specific values

In [180]:
df.groupby(['Type 1'])

In [187]:
df.groupby(['Type 1']).mean()

,#,Legendary.1,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
Type 1,,,,,,,,,,,
Bug,334.492754,0.000000,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,0.064516,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,0.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,0.090909,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,0.058824,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,0.000000,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,0.096154,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,0.500000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,0.062500,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,0.042857,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,0.125000,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,0.083333,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,0.020408,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,0.000000,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,0.245614,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,0.090909,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,0.148148,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,0.035714,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [189]:
df = df.drop('Legendary.1' , axis =1 )

In [190]:
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6

In [191]:
df.groupby(['Type 1']).mean()

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Bug,334.492754,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Dark,461.354839,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Dragon,474.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Electric,363.500000,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Fairy,449.529412,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Fighting,363.851852,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Fire,327.403846,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Flying,677.750000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Ghost,486.500000,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Grass,344.871429,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Ground,356.281250,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Ice,423.541667,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Normal,319.173469,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Poison,251.785714,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Psychic,380.807018,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Rock,392.727273,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Water,303.089286,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143

In [193]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Steel,442.851852,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Rock,392.727273,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Dragon,474.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Ground,356.281250,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Ghost,486.500000,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Water,303.089286,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ice,423.541667,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Grass,344.871429,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Bug,334.492754,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Dark,461.354839,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Poison,251.785714,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Fire,327.403846,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Psychic,380.807018,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Electric,363.500000,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Flying,677.750000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Fighting,363.851852,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Fairy,449.529412,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Normal,319.173469,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020

In [194]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Dragon,474.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Fighting,363.851852,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Ground,356.281250,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Rock,392.727273,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Dark,461.354839,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Fire,327.403846,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Flying,677.750000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Poison,251.785714,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Water,303.089286,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ghost,486.500000,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Normal,319.173469,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Grass,344.871429,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Ice,423.541667,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Psychic,380.807018,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Bug,334.492754,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Electric,363.500000,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Fairy,449.529412,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647

In [195]:
df.groupby(['Type 1']).mean().sort_values('HP', ascending = False)

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Dragon,474.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Normal,319.173469,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Fairy,449.529412,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Ground,356.281250,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Water,303.089286,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ice,423.541667,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Flying,677.750000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Psychic,380.807018,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Fire,327.403846,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Fighting,363.851852,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Grass,344.871429,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Poison,251.785714,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Dark,461.354839,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Rock,392.727273,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Ghost,486.500000,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Electric,363.500000,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Bug,334.492754,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391

In [ ]:
# Sum

In [201]:
df.groupby(['Type 1']).sum()

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Bug,23080,0,3925,4897,4880,3717,4471,4256,222
Dark,14302,2,2071,2740,2177,2314,2155,2361,125
Dragon,15180,12,2666,3588,2764,3099,2843,2657,124
Electric,15994,4,2631,3040,2917,3961,3243,3718,144
Fairy,7642,1,1260,1046,1117,1335,1440,826,70
Fighting,9824,0,1886,2613,1780,1434,1747,1784,91
Fire,17025,5,3635,4408,3524,4627,3755,3871,167
Flying,2711,2,283,315,265,377,290,410,22
Ghost,15568,2,2062,2361,2598,2539,2447,2059,134
Grass,24141,3,4709,5125,4956,5425,4930,4335,235
Ground,11401,4,2361,3064,2715,1807,2008,2045,101
Ice,10165,2,1728,1746,1714,1861,1831,1523,85
Normal,31279,2,7573,7200,5865,5470,6245,7012,299
Poison,7050,0,1883,2091,1927,1692,1803,1780,71
Psychic,21706,14,4026,4073,3858,5609,4918,4645,193
Rock,17280,4,2876,4086,4435,2787,3321,2460,152
Steel,11957,4,1761,2503,3412,1823,2177,1492,104
Water,33946,4,8071,8305,8170,8379,7898,7388,320

In [202]:
df.groupby(['Type 1']). count()

,#,Name,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [204]:
df.groupby(['Type 1']). count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [205]:
df.groupby(['Type 1', 'Type 2']). count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64